.c_plan {
  border: var(--border);
  border-radius: 16px;
  padding: 32px;

  &--premium {
    border-color: $forest-green;
    background-image: linear-gradient(
      to bottom,
      rgba(10, 47, 10, 0.73),
      rgba(10, 47, 11, 0.32) 87%
    );
  }

  &__title {
    font-family: 'inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
  }

  &__summary {
    margin-top: 10px;
    color: $pumice;
  }

  &__price {
    margin-top: 16px;
    color: $white;
    line-height: 1;
  }

  &__amount {
    font-size: 2rem;
    font-weight: 600;
  }

  &__cta {
    display: block;
    margin-top: 16px;
    padding: 20px;
    border-radius: 12px;
    background-color: $white;
    color: $cod-grey;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }

  &__benefits {
    margin-top: 16px;
    list-style-type: none;
    display: grid;
    gap: 8px;

    & li {
      padding: 14px;
      line-height: 1;
      display: flex;
      align-items: center;
      gap: 13.33px;

      &::before {
        content: url('/assets/bullet.png');
        display: block;
      }
    }
  }
}
