$black: #030303;
$white: #ffffff;
$silver-chalice: #acacac;
$alabaster: #fbfbfb;
$heavy-metal: #131413;
$log-cabin: #1b261b;
$malachite: #2bdb32;
$bilbao: #197217;
$soapstone: #fffcfa3d;
$trans-black: rgba(0, 0, 0, 0.12);
$mecury: #e7e7e7;
$curdoroy: #5a5d5b;
$forest-green: #187718;
$pumice: #b4b5b4;
$cod-grey: #0d0c0b;
$black-2: #212020;
